
.fin{
    display: flex;
    background-color: $colorsecu;
    color: $colortxth;
}
.portada{
   background-image: url(../multimedia/letter-2794672_1920.jpg);
   height: 100vh;
   background-repeat: no-repeat;
   

}
