body{
    background-color:whitesmoke;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.video{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-popular{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
  
  