@mixin caja-articulo {
    display: flex;
    font-size: 30px;
    padding: 15px 15px;
    text-align: center;
    justify-content: space-around;
}

@mixin estilogen($color,$fuent) {
    display: flex;
    font-size: $fuent;
    background-color: $color;
    color: white;
    text-align: center;
    justify-content: center;
}

@mixin tituloxlado {
    display: flex;
    color: #ffffff;
    font-size: 60px;
    background-color: #ffb62f;
    width: 600px;
    height: 100px;
    align-items: center;
    
    
}