.promo{
    font-size: 4vw;
    color: $colorprin;
    padding:15px;
    margin: 15px;

}
.promo2{
    display: flex;
    align-items: center;
    justify-content: end;
}

.banner{
    display: flex;
    align-content: stretch;
    justify-content: center;
}