
    .allbig{
        
      
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 12px;
            margin: 15px;
            padding: 15px;
            
            
            .div1 { grid-area: 2 / 1 / 3 / 2; }
            .div2 { grid-area: 1 / 2 / 2 / 3; }
            .div3 { grid-area: 2 / 3 / 3 / 4; }
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 3px;
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 1 / 2 / 2 / 3; }
        .div3 { grid-area: 1 / 3 / 2 / 4; }
        .div4 { grid-area: 1 / 4 / 2 / 5; }
        .div5 { grid-area: 1 / 5 / 2 / 6; }

        .tempo{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 16px;
            grid-row-gap: 3px;
            }
            
            .div1 { grid-area: 1 / 1 / 2 / 2; }
            .div2 { grid-area: 1 / 2 / 2 / 3; }
            .div3 { grid-area: 1 / 3 / 2 / 4; }
            .div4 { grid-area: 1 / 4 / 2 / 5; }
            .div5 { grid-area: 1 / 5 / 2 / 6; }

            .dispo {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 16px;
                grid-row-gap: 3px;
                }

                .premium{
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    grid-column-gap: 16px;
                    grid-row-gap: 3px;
                    }
                    
                    .div1 { grid-area: 1 / 1 / 2 / 2; }
                    .div2 { grid-area: 1 / 2 / 2 / 3; }
                    .div3 { grid-area: 1 / 3 / 2 / 4; }
                    .div4 { grid-area: 1 / 4 / 2 / 5; }
                    .div5 { grid-area: 1 / 5 / 2 / 6; }
        
                    .dispo {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: 1fr;
                        grid-column-gap: 16px;
                        grid-row-gap: 3px;
                        }

                        .perso{
                            display: flex;
                            justify-content: end;
                            align-items: center;
                        
                        
                        }
                


