body{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.video{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-popular{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
  
  .texto-imagen{
    display: grid;
    padding: 30px;
    grid-template-columns: 600px 700px;
    gap: 15px;
    grid-template-areas:"texto imagen" ;
    justify-content: center;
    .tx1{
        grid-area: texto;
        font-size: 60px;
        text-align: center;
        background-color: #FFE53B;
        background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    }
    .tx2{
        grid-area: imagen;
    }
    
}
