.box {
  height: 500px;
  width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: red;
  background-color: white;
  font-size: 80px;
  text-align: center;
}

.box2 {
  height: 500px;
  width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: red;
  background-color: white;
  font-size: 80px;
  text-align: center;
}

body {
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 80px;
  color: blue;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 60px;
  color: yellow;
  border-radius: 30px;
  background-color: red;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 80px;
  color: yellow;
  border-radius: 30px;
  background-color: red;
}

footer {
  display: -ms-grid;
  display: grid;
  background-color: red;
  color: yellow;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
}

.nos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  color: white;
}

.poncho {
  justify-items: center;
}

.container-producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid black 1px;
  width: 300px;
  height: 600px;
  margin: 15px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: larger;
}

/*estilo para los productos*/
.container-producto:hover {
  border: solid black 1px;
  width: 300px;
  height: 600px;
  -webkit-box-shadow: 10px 15px grey;
          box-shadow: 10px 15px grey;
}

.producto-img {
  height: 50%;
  width: 100%;
}

.productoimg-medida {
  height: 100%;
  width: 100%;
}

.contenedor-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: blue;
  color: yellow;
}

.portada {
  background-image: url(../multimedia/letter-2794672_1920.jpg);
  height: 100vh;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=estilos.css.map */