h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 80px;
  background-color: #ffb62f;
  color: white;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 60px;
  color: #ffb62f;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-size: 60px;
  background-color: #ffb62f;
  width: 600px;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffb62f;
  font-size: 60px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 80px;
  background-color: #f7b02c;
  color: white;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  border-radius: 30px;
  border: solid #ffb62f;
  font-size: 3vw;
}

.log {
  border-radius: 80px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.img-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(335deg, #fbef7e 0%, #d19031 100%);
  border-radius: 30px;
}

.container-producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid 5px white;
  width: 300px;
  height: 600px;
  margin: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 25px;
  text-align: center;
}

/*estilo para los productos*/
.container-producto:hover {
  border: solid white 1px;
  width: 300px;
  height: 600px;
  -webkit-box-shadow: 10px 15px white;
          box-shadow: 10px 15px white;
}

.producto-img {
  height: 50%;
  width: 100%;
}

.productoimg-medida {
  height: 100%;
  width: 100%;
}

.contenedor-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: linear-gradient(335deg, #fbef7e 0%, #d19031 100%);
}

.distri {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 0px;
  font-size: 3vw;
  color: #d19031;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  color: yellow;
}

.portada {
  background-image: url(../multimedia/letter-2794672_1920.jpg);
  height: 100vh;
  background-repeat: no-repeat;
}

.allbig {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 12px;
  margin: 15px;
  padding: 15px;
}

.allbig .div1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.allbig .div2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.allbig .div3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
}

.dispo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 3px;
}

.dispo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 3px;
}

.perso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-producto:hover {
  border: solid white 1px;
  width: 300px;
  height: 600px;
  -webkit-box-shadow: 10px 15px white;
          box-shadow: 10px 15px white;
}

.producto-img {
  height: 50%;
  width: 100%;
}

.productoimg-medida {
  height: 100%;
  width: 100%;
}

.contenedor-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: linear-gradient(335deg, #fbef7e 0%, #d19031 100%);
}

.promo {
  font-size: 4vw;
  color: #ffb62f;
  padding: 15px;
  margin: 15px;
}

.promo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.poncho {
  display: -ms-grid;
  display: grid;
  color: #ffb62f;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.poncho .ponchito {
  border-radius: 60px;
}

.poncho .div2 {
  border: solid 5px #ffb62f;
  padding: 10px;
  font-size: 2vw;
}

.histo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 9px;
  grid-row-gap: 8px;
}

.histo .hola {
  border-radius: 40px;
  border: solid 2px #ffb62f;
}

.histo .tem2 {
  border-radius: 40px;
  border: solid 2px #ffb62f;
}

.histo .tem3 {
  border-radius: 40px;
  border: solid 2px #ffb62f;
}

.histo .tem4 {
  border-radius: 40px;
  border: solid 2px #ffb62f;
}

.histo .tem5 {
  border-radius: 40px;
  border: solid 2px #ffb62f;
}

.histo .tem6 {
  border-radius: 40px;
  border: solid 2px #ffb62f;
}

.histo .tem7 {
  border-radius: 40px;
  border: solid 2px #ffb62f;
}

.histo .tem8 {
  border-radius: 40px;
  border: solid 2px #ffb62f;
}
/*# sourceMappingURL=estilos.css.map */